.fullScreen{
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.greetingText{
  flex: 1 1 auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
}

.text{
  font-family: 'merriweather-regular';
  font-size: 22px;
}

.title{
  color: gold;
  text-wrap:pretty;
}
.subtitle{
  padding: 0 50px 0 50px;
}

.link{
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFC107;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 20px;
  align-self: center;
}
.link:hover{
  background: #FFC107;
  color: #2a2a2a;
}

.imageSection{
  display: inline-flex;
  max-width: 50%;
  padding: 0 20px;
}

.image{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-self: self-end;
}

@media (max-width: 576px) {
  .fullScreen{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .greetingText{
    flex: 1 ;
    max-width: 100%;
  }
  
  .text{
    font-size: 16px;
  }

  .imageSection{
    display: none;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .fullScreen{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .greetingText{
    flex: 1 ;
    max-width: 100%;
  }

  .text{
    font-size: 18px;
  }
  .fullScreen{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imageSection{
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .text{
    font-size: 18px;
  }
  .image{
    height: calc(100vh - 280px);
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .image{
    height: calc(100vh - 140px);
  }
}

@media (min-width: 1280px) {

}