.card{
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text:hover > .link {
  visibility: visible;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.3rem;
  align-items: center;
  color: aliceblue;
  padding: 20px;
}

.example{
  visibility: hidden;
}

.link{
  line-height: 50px;
  color: black;
  background-color: #FFC107;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  visibility: hidden;

}
@media (max-width: 576px) {
  .card{
    width: 280px;
    height: 280px;
  }
  .text{
    font-size: 0.9rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .card{
    width: 250px;
    height: 250px;
  }
  .text{
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card{
    width: 300px;
    height: 300px;
  }
  .text{
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .card{
    width: 300px;
    height: 300px;
  }
  .text{
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {

}