.cardBody{
  width: 250px;
  height: 200px;
  background-color: rgb(68, 68, 68);
  border-radius: 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBody:hover{
  background-color: #FFC107;
}

@media (max-width: 576px) {
  .cardBody{
    width: 140px;
    height: 130px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cardBody{
    width: 165px;
    height: 165px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardBody{
    width: 192px;
    height: 192px;
  }
}
