header {
  color: #FFC107;
  min-height: 80px;
  max-width: 1280px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  position: fixed;
  background: rgba(42, 42, 42, 0.474);
}
.logo {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mainMenu{
  display: flex;
  justify-content: space-around;
  align-self: center;
  list-style: none;

}

.ul {
  display: flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.li {
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 600px) and (max-width: 959px){
  header {
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    background: rgb(42, 42, 42);
  }
  .mainMenu{
    display: none;
  }
  
  .openMenu{
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(42, 42, 42, 0.474);
  } 

  .menuToggle{
    display: flex;
    padding: 0;
    margin-right: 50px;
  }
  .ul{
    display: block;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  .image{
    max-width: 450px;
    max-height: 600px;
    padding-top: 40px;
    display: flex;
    align-self: self-end;
  }
}
