header {
  color: #FFC107;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: rgba(42, 42, 42, 0.85);
}
.logo {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-left: 10px;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.mainMenu{
  display: flex;
  padding-right: 20px;
}

.ul {
  display: flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  padding: 10px;
  cursor: pointer;
}
.li:hover{
  background: #FFC107;
  color: #2a2a2a;
}

@media (max-width: 576px) {
  header {
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    background: rgb(42, 42, 42);
  }
  .mainMenu{
    display: none;
  }
  
  .openMenu{
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(42, 42, 42, 0.85);
  } 

  .menuToggle{
    display: flex;
    padding: 0;
  }
  .ul{
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    background: rgb(42, 42, 42);
  }
  .mainMenu{
    display: none;
  }
  
  .openMenu{
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(42, 42, 42, 0.474);
  } 

  .menuToggle{
    display: flex;
    padding: 0;
  }
  .ul{
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1279px) {
  .image{
    max-width: 450px;
    max-height: 600px;
    padding-top: 40px;
    display: flex;
    align-self: self-end;
  }
}

@media (min-width: 1280px) {

}